<div class="content">
  <div ng-controller="NinjaController">
    <button ng-click="order = 'name'">Order By Name</button>
    <button ng-click="order = 'belt'">Order By Belt</button>
    <input type="text" ng-model="search" />
    <ul>
      <li ng-repeat="caractere in vector | orderBy: order| filter: search">
        <img ng-src="{{caractere.thumb}}" ng-show="caractere.thumb">
        <h3>{{caractere.name}} - {{caractere.bani | currency: '$'}}</h3>
        <div class="remove" ng-click="removeCaractere(caractere)">x</div>
        <span class = "belt" style = "background: {caractere.color}">{{caractere.color}} belt</span>
      </li>
    </ul>
    <form ng-submit="AddCaractere()">
      <input type="text" placeholder="name" ng-model="newcaractere.name" />
      <input type="text" placeholder="color" ng-model="newcaractere.color" />
      <input type="text" placeholder="bani" ng-model="newcaractere.bani" />
      <input type="submit" value="Add new caractere" />
    </form>
  </div>
</div>
